# Ex2 - Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("chipotle.tsv",delimiter='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
chipo.shape

(4622, 5)

In [7]:
# Solution 2

print("Number of observations : ",chipo.shape[0])

Number of observations :  4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
print("Number of Columns : ",chipo.shape[1])

### Step 7. Print the name of all the columns.

In [17]:
print(*[x for x in chipo.columns],sep=" , ")

order_id , quantity , item_name , choice_description , item_price

### Step 8. How is the dataset indexed?

In [19]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [24]:
print(*[x for x in chipo["item_name"].mode()])

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [45]:
print(sum([x for x in chipo[chipo['item_name'] == 'Chicken Bowl']['quantity']]))

761

### Step 11. What was the most ordered item in the choice_description column?

In [80]:
# %%timeit
items = {}
l = [x for x in chipo['choice_description']]
for x in l:
    if type(x) != type(0.1):
        for CommaSplitted in x.split(','):
            for BracketStripped in CommaSplitted.split('['):
                for i in BracketStripped.split(']'):
                    i = i.strip()
                    if(i not in ('',' ','  ')):
                        if i in items:
                            items[i]+=1
                        else:
                            items[i] = 1
max = 0
M = ""
for i,j in items.items():
    if(j >max):
        max = j
        M=i
print(M,max)

Rice 2389

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?